.homecontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: var(--color1); */
    margin-top: 10vh;
    height: 60vh;
    width: 90vw;
    margin-left:auto ;
    margin-right: auto;

}
.home_left{
    color: var(--color1);
    font-size: 2.3rem;
}
.home_right{
    margin: 0 10px 0 200px;
}
.home_right img{
    width: 450px;
}
.contactbutton,.resumebutton{
    margin: 5px auto 5px auto;
    background-color: var(--color1);
    color: var(--color5);
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--color1);
    text-decoration: none;
}
.contactbutton:hover,.resumebutton:hover{
    background-color: var(--color3);
    color: var(--color1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border: 2px solid var(--color1);
}
.cursor {
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to {
        color: transparent;
    }
    50% {
        color: var(--color1); /* Change cursor color here */
    }
}

@media(max-width:992px) {
    .homecontainer{
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .home_left{
        font-size: 1.6rem;
        margin: 10px auto 10px auto;
    }
    .home_right{
        margin: 10px auto 10px auto;
    }
    .home_right{
        width: 400px;
        display: flex;
        margin: 10vh;
        justify-content: center;
    }
    .home_right img{
        width: 300px;
    }
    .contactbutton{
        width: 30vw;
    }

}