@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Cabin&family=Cedarville+Cursive&family=Roboto&display=swap');

:root {
    --main-bg-color: aqua;
    --font1: 'Baloo Bhai 2', cursive;
    --font2: 'Cabin', sans-serif;
    --font3: 'Cedarville Cursive', cursive;
    --font4: 'Roboto', sans-serif;
    --color1: #05386B;
    --color2: #379683;
    --color3: #5CDB95;
    --color4: #8EE4AF;
    --color5: #EDF5E1;
}
button:hover{
    cursor: pointer;
}

.light-color{
    color: var(--color5);
}
* {
    border-width: 0px;
    
}

body::-webkit-scrollbar {
    display: none;
}
html{
    overflow-x: hidden;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
  
    /* Firefox */
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.hr-nav {
    height: 2px;
    border-width: 0px;
    color: var(--color2);
    background-color: var(--color2);
    border-radius: 100px;
    max-width: 94vw;

}

.hr-article {
    height: 2px;
    border-width: 0px;
    color: var(--color5);
    background-color: var(--color5);
    border-radius: 100px;
}

.thoughts {
    font-family: var(--font3);
}

.color3 {
    color: var(--color3);
}

.color2 {
    color: var(--color2);
}

.article-content {
    font-family: var(--font4);
}

.submitbtn {
    background-color: var(--color2);
    color: var(--color5);
    width: 8em;
    font-size: 1em;
    border: 1px solid var(--color1);
    border-radius: 2px;
    vertical-align: middle;
}

.submitbtn:hover {
    cursor: pointer;
    background-color: #40a18e;
}

.search input {
    border: 2px solid var(--color1);
    font-family: var(--font2);
    border-radius: 5px;
    background-color: var(--color2);
    padding: 3px 0.4em;
    width: 9vw;
    color: var(--color5)
}

#searchbox::placeholder {
    color: var(--color1);
}

.footer {
    height: 60px;
    color: var(--color1);
    font-family: var(--font2);
    
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
    

}

.foot {
    position: relative;

}

#scrollup {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    color: var(--color1);
    font-size: 1.5rem;
    border: 2px solid var(--color1);
    background-color: var(--color3);
    top: -4px;
    right: 10px;
    margin: 10px;
}

#scrollup:hover {
    color: var(--color3);
    background-color: var(--color1);
    transition: 0.4s ease-in-out;
    cursor:pointer;
}

/* NAVBAR */
.navbar {
    background-color: var(--color3);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar span {
    font-family: var(--font2);
    color: var(--color2);
    font-weight: 600;
    font-size: larger;
}

.navbar ul {
    overflow: auto;
    margin: 2px 2px;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: var(--color1);
    font-size: 1.7em;
    font-family: var(--font2);
    font-weight: 600;
}


.navbar li a:hover {
    padding: 3px 3px;
    text-decoration: none;
    color: var(--color5);
    transition: 0.3s ease-in-out;
}

#logo {
    width: 62px;
    padding: 0px 15px;
    margin: 0px 0px;
}

.nav-right {
    color: var(--color3);
    margin-left: auto;
    padding: 12px 20px;
}


.nav-magnicon {

    width: 5px;
    color: var(--color1);
    margin-top: 2px;
}

.nav-magnicon:hover {

    width: 5px;
    color: var(--color5);
    transition: 0.3s ease-in-out;
}

.toggle_btn .fa-bars{
    font-size: 2rem;
    padding: 0 5vw;
    z-index: 999;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease-in-out;
    display: none;
}
.toggle_btn .fa-xmark{
    display: none;
    cursor: pointer;
    font-size: 2rem;
    padding: 0 5vw;
    z-index: 999;
    position: relative;
    transition: 0.3s ease-in-out;
}


/* Responsive website */
@media(max-width:992px) {
    body {
        overflow-x: hidden;

    }
    .search{
        display: none;
    }
    .max-width-1{
        max-width: 90vw;
    }
    .toggle_btn .fa-bars{
        display: block;
        
    }

    navbar {
        position: relative;
    }

    .list_nav{
        /* display:none */
        width: 100vw;
        padding: 0;
        margin: 0;

        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color3);

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        /* to get the tranisition  */
        display: flex;
        transition: width 0.3s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .active .list_nav{
        transform: translateX(0%);
        opacity: 1;
        
        visibility: visible;
        pointer-events: auto;
    }
    .active .fa-bars{
        display: none;
    }
    .active .fa-xmark{
        display: block;
    }
    .active body{
        overflow-y: hidden;
        
    }
    .active footer{
        visibility: hidden;
    }
    .active .footer {
        display: none;
    }
    .active .foot{
        display: none;
    }
    
    
}

